@{
    ViewBag.Title = "GeoLocalização";
}

<div class="row">
    <div class="col-md-4">
        <h2>Teste processo: Geolocalização</h2>
        <form action="Resultado" method="post">
            <p>
                <input type="submit" value="Check-in">
            </p>
        </form>
</div>
</div>


