@{
    ViewBag.Title = "Check-in";
}

<div class="text-center">
    <br />
    <p>A distância entre sua localização atual e as coordenadas desejadas é de:@ViewData["distancia"] metros.</p><br/>
    <p>@ViewData["resultado"]</p><br />
    <p>Suas coordenadas atuais são: @ViewData["coordenadas"]</p>
</div>

